.homePopGame {
  width: 90%;
  margin: auto;

  .homeFilmtitle {
    margin-top: 50px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    color: #e0e0e0;
    cursor: pointer;

    .gameTitle {
      font-size: 18px;
    }
  }

  .popGameList {
    position: relative;

    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

      .homeGamePoster {
        position: relative;
        width: 100%;
        font-size: 14px;

        img {
          width: 100%;
          display: block;
          cursor: pointer;
        }

        .favOrLock {
          height: 30px;
          line-height: 30px;
          display: flex;
          justify-content: space-between;
          background: rgba(0, 0, 0, 0.72);

          .lockIcon,
          .favIcon {
            cursor: pointer;
          }
        }

        .heroName {
          cursor: pointer;
        }
      }
    }
  }

  .gameSuspension {
    position: absolute;
    z-index: 999;
  }
}