<div class="footer">
  <div el-row class="footerDesc">
    <div el-col [span]="4" offset=3>
      <div class="grid-content bg-purple">
        <a href="https://github.com/whatproblem/ng2-lifeStyle">
          <div>个人github</div>
        </a>
      </div>
    </div>
    <div el-col span="4">
      <div class="grid-content bg-purple">制作者：WS</div>
    </div>
    <div el-col span="4">
      <div class="grid-content bg-purple">开始日期：2018-04-01</div>
    </div>
    <div el-col span="4">
      <div class="grid-content bg-purple">结束日期：至今</div>
    </div>
  </div>
  <div el-row class="footerDesc" type="flex" justify="center">
    <div el-col span="16" offset=4>
      <div class="grid-content bg-purple">本站声明：此网站纯属个人练习项目，不可用作任何商用。</div>
    </div>
  </div>
  <div el-row class="footerDesc">
    <div el-col span="9" offset=3>
      <div class="grid-content bg-purple"><a href="https://github.com/whatproblem/ng2-lifeStyle">前端技术栈：</a>angular，element，swiper，scss</div>
    </div>
    <div el-col span="9">
      <div class="grid-content bg-purple">技术交流群：qqxxx</div>
    </div>
  </div>
  <div el-row class="footerDesc">
    <div el-col span="9" offset=3>
      <div class="grid-content bg-purple"><a href="https://github.com/whatproblem/nodeSql">后台技术栈：</a>node，express，MySQL</div>
    </div>
    <div el-col span="9">
      <div class="grid-content bg-purple">技术交流群：weixinxxx</div>
    </div>
  </div>
</div>