<div class="filmDetailTop">
  <div class="videoSection">
    <div el-container direction="horizontal">
      <div el-aside width="65%">
        <div class="videoContainer">
          <video controls="controls">
            <source src="movie.ogg" type="video/ogg">
            <source src="movie.mp4" type="video/mp4"> Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <div el-main width="30%">
        <div class="talkArea">
          <div class="talkTitle el-icon-edit">讨论区</div>
          <div class="talkContent">
            <el-card class="box-card" body-style="background: #666; color: #ffd04b; border: none">
              <div *ngFor="let item of [0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]" class="text item">
                <div class="discuss">
                  <i class="myFont ng2-lifeStyle-yonghu">:</i>
                  <span>{{'列表内容 ' + item }}</span>
                </div>
              </div>
            </el-card>
          </div>
          <div class="talkSend">
            <el-input placeholder="请输入发送内容..." [model]="input2">
            </el-input>
            <i class="myFont ng2-lifeStyle-jijianfasong sendBtn"></i>
            <i class="myFont ng2-lifeStyle-shuohuaqipao speakFlag"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="doScore">
    <span class="videoTitle">{{filmDetailData?.film_name}}</span>
    <el-tag class="myFont">地区</el-tag>
    <el-tag class="myFont">年代</el-tag>
    <el-tag class="myFont" *ngIf="filmDetailData?.film_type == 1">战争</el-tag>
    <el-tag class="myFont" *ngIf="filmDetailData?.film_type == 2">爱情</el-tag>
    <el-tag class="myFont" *ngIf="filmDetailData?.film_type == 3">古装</el-tag>
    <el-tag class="myFont" *ngIf="filmDetailData?.film_type == 4">动作</el-tag>
    <el-tag class="myFont" *ngIf="filmDetailData?.film_type == 5">玄幻</el-tag>
    <el-tag class="myFont" *ngIf="filmDetailData?.film_type == 6">喜剧</el-tag>
    <el-tag class="myFont" *ngIf="filmDetailData?.film_type == 7">科幻</el-tag>
    <el-tag class="myFont" *ngIf="filmDetailData?.film_type == 8">动漫</el-tag>
    <el-tag class="myFont" *ngIf="filmDetailData?.film_type == 9">娱乐</el-tag>
    <span class="scores">
      <el-rate [model]="3" [show-text]="true" [text-color]="'#ff9900'">
          </el-rate>
    </span>
    <span class="videoScore">{{filmDetailData?.film_score}}</span>
  </div>
  <div class="introduce">
    <h5>影片简介：</h5>
    <div class="description">
      <div [ngClass]="{'desContentAll': arrowIntroduce, 'desContent': !arrowIntroduce}">
        {{filmDetailData?.film_desc}}
      </div>
      <i class="myFont arrowIcon" [ngClass]="{'ng2-lifeStyle-msnui-triangle-up':arrowIntroduce, 'ng2-lifeStyle-msnui-triangle-down':!arrowIntroduce}"
        (click)="showIntroduce()"></i>
    </div>
  </div>
</div>