<div class="homePopFilm">
  <div class="homeFilmtitle">
    <a  routerLink="homeDetail" [queryParams]="{homeId: 'homeFilmDetail'}">
      <span class="myFont ng2-lifeStyle-74 filmTitle"></span> 高评热片>
    </a>
  </div>
  <div class="popFilmList">
    <div class="swiper-container" id="homePopFilm">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let filmPoster of homePopPoster;let i=index">
          <div class="homeFilmPoster" (mouseenter)="showSuspension($event, i, filmPoster)">
            <img [src]="filmPoster.film_detail_poster" />
            <div class="filmName">{{filmPoster.film_name}}</div>
            <div class="filmScore">{{filmPoster.film_score}}</div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next" id="homeFilmNext"></div>
      <div class="swiper-button-prev" id="homeFilmPrev"></div>
    </div>
    <app-suspension [suspension]="homeFilmPopData" (mouseenter)="showSuspension()" (mouseleave)="hideSuspension()" class="suspension" [ngStyle]="{visibility: suspensionCtrl ? 'visible' : 'hidden'}"></app-suspension>
  </div>
</div>