<div class="homePopFilm">
  <div class="homeFilmtitle">高评热片></div>
  <div class="popFilmList">
    <div class="swiper-container" id="homePopFilm">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="homeFilmPoster">
            <img src="../../../../assets/img/homePopFilm/1.jpg" />
            <div class="filmName">影片名称</div>
            <div class="filmScore">10.0</div>
          </div>
        </div>
        <!--<div class="swiper-slide">
          <img src="../../../../assets/img/homePopFilm/2.jpg"/>
        </div>
        <div class="swiper-slide">
          <img src="../../../../assets/img/homePopFilm/3.jpg"/>
        </div>
        <div class="swiper-slide">
          <img src="../../../../assets/img/homePopFilm/4.jpg"/>
        </div>
        <div class="swiper-slide">
          <img src="../../../../assets/img/homePopFilm/5.jpg"/>
        </div>
        <div class="swiper-slide">
          <img src="../../../../assets/img/homePopFilm/6.jpg"/>
        </div>
        <div class="swiper-slide">
          <img src="../../../../assets/img/homePopFilm/7.jpg"/>
        </div>
        <div class="swiper-slide">
          <img src="../../../../assets/img/homePopFilm/8.jpg"/>
        </div>
        <div class="swiper-slide">
          <img src="../../../../assets/img/homePopFilm/9.jpg"/>
        </div>
        <div class="swiper-slide">
          <img src="../../../../assets/img/homePopFilm/10.jpg"/>
        </div>
        <div class="swiper-slide">
          <img src="../../../../assets/img/homePopFilm/11.jpg"/>
        </div>
        <div class="swiper-slide">
          <img src="../../../../assets/img/homePopFilm/12.jpg"/>
        </div>-->
      </div>
      <!-- Add Pagination -->
      <!--<div class="swiper-pagination"></div>-->
      <!-- Add Arrows -->
      <div class="swiper-button-next" id="homeFilmNext"></div>
      <div class="swiper-button-prev" id="homeFilmPrev"></div>
    </div>
  </div>
</div>