.homePopFilm {
  width: 90%;
  margin: auto;

  .homeFilmtitle {
    margin-top: 50px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    color: #e0e0e0;
    cursor: pointer;

    .filmTitle {
      font-size: 18px;
    }
  }

  .popFilmList {
    position: relative;

    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: rgba(11, 16, 14, 0);
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

      img {
        width: 100%;
      }
    }

    .homeFilmPoster {
      width: 100%;
      height: 10%;
      border: 2px solid #fff;
      position: relative;
      cursor: pointer;

      .filmName {
        width: 100%;
        height: 32px;
        line-height: 32px;
        background: rgba(0, 0, 0, 0.9);
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        position: absolute;
        bottom: 0px;
        left: 0px;
      }

      .filmScore {
        width: 25%;
        height: 28px;
        line-height: 28px;
        font-size: 16px;
        background: rgba(0, 0, 0, 0.65);
        color: #ffd04b;
        font-weight: bold;
        text-align: center;
        position: absolute;
        top: 0px;
        right: 0px;
      }
    }

    .suspension {
      z-index: 999;
      position: absolute;
      top: -5%;
    }
  }
}