<div class="homePopMusic">
  <div class="popMusicTitle">热门推荐></div>
  <div class="popMusicList">
    <div class="swiper-container" id="popMusicSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let musicData of homePopPoster;let i=index">
          <div class="popMusicPoster">
            <div class="topImg">
              <img [src]="musicData.music_detail_poster" alt="">
              <div class="scoreOrPlay">
                <div class="score">
                  <span class="myFont ng2-lifeStyle-erji"></span>
                  <span>{{musicData.music_score}}</span>
                  </div>
                  <span class="myFont ng2-lifeStyle-bofang"></span>
              </div>
            </div>
            <div class="bottomTitle">
              <span class="myFont ng2-lifeStyle-yinle"></span>
              <span>{{musicData.music_name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>