<div class="homePopMusic">
  <div class="popMusicTitle">
    <a routerLink="homeDetail" [queryParams]="{homeId: 'homeMusicDetail'}">
      <span class="myFont ng2-lifeStyle-yinle musicTitle"></span> 热门推荐>
    </a>
  </div>
  <div class="popMusicList">
    <div class="swiper-container" id="popMusicSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let musicData of homePopPoster;let i=index">
          <div class="popMusicPoster">
            <div class="topImg" (mouseenter)="showPlayIcon(i)" (mouseleave)="hidePlayIcon()">
              <img [src]="musicData.music_detail_poster" alt="">
              <div [routerLink]="['homeDetail', musicData.music_name]" [queryParams]="{homeId: 'homeMusicDetail'}" class="myFont ng2-lifeStyle-bofang1 playIcon" [ngStyle]="{display: i === curIndex ? 'block' : 'none'}"></div>
              <div class="scoreOrPlay">
                <div class="score">
                  <span class="myFont ng2-lifeStyle-erji"></span>
                  <span>{{musicData.music_score}}</span>
                </div>
                <span *ngIf="musicData.music_favorite == 0" class="myFont ng2-lifeStyle-shoucang1"></span>
                <span *ngIf="musicData.music_favorite != 0" class="myFont ng2-lifeStyle-shoucang"></span>
              </div>
            </div>
            <div class="bottomTitle">
              <span class="myFont ng2-lifeStyle-yinle"></span>
              <span>{{musicData.music_name}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next" id="homeMusicNext"></div>
      <div class="swiper-button-prev" id="homeMusicPrev"></div>
    </div>
  </div>
</div>