<div class="homeBanner">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="../../../../assets/img/home/banner/game.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../../../../assets/img/home/banner/film.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../../../../assets/img/home/banner/game.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../../../../assets/img/home/banner/film.jpg" alt=""></div>
    </div>
    <div class="swiper-pagination swiper-pagination-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>
</div>