<div class="musicDetailTop">
  <div el-row>
    <div el-col span="20" offset=2>
      <div class="">
        <div el-container class="" direction="horizontal">
          <div el-aside width="30%">
            <img src="../../../assets/img/homePopMusic/1.jpg" alt="">
          </div>
          <div el-main width="65">
            <h1>音乐名称部分</h1>
            <div>
              <i class="myFont ng2-lifeStyle-yonghu">:</i>
              <span>WS练习使用</span>
            </div>
            <div>
              <span>标签:</span>
              <el-tag class="myFont">安静</el-tag>
              <el-tag class="myFont">流行</el-tag>
            </div>
            <div>
              <span>播放量：</span><span>1.7万</span>
            </div>
            <div>
              <span>收藏量：</span><span>456</span>
            </div>
            <div>
              <el-button type="primary" icon="edit">播放</el-button>
              <el-button type="primary" icon="share">收藏</el-button>
              <el-button type="primary" icon="delete">评论</el-button>
              <el-button type="primary">下载<i class="el-icon-upload el-icon--right"></i></el-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>