.wsHeader {
  height: 60px;
  background: rgb(84, 92, 100);
  color: #fff;
  font-size: 16px;

  .secHeader {
    height: 60px;
    line-height: 60px;

    .loginBtn {
      text-align: center;
      cursor: pointer;
    }

    .wsAvatar {
      width: 45px;
      height: 45px;
      position: relative;
      top: 8px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 45%;
      }
    }

    a {
      display: inline-block;
      height: 57px;
      line-height: 60px;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      padding: 0 16px;
    }

    a.active {
      color: rgb(255, 208, 75);
      border-bottom: 3px solid rgb(255, 208, 75);
    }

    .el-dropdown {
      color: #fff;
      font-size: 16px;

      .el-dropdown-menu {
        background: rgb(84, 92, 100);

        .el-dropdown-menu__item {
          color: #fff;

          &:hover {
            background: #393939;
          }
        }
      }
    }
  }
}