<div class="wsHeader">
  <div el-row>
    <div el-col [span]="2" offset=1>
      <div class="grid-content bg-purple" class="secHeader">
        <div class="wsAvatar">
          <img src="../../assets/img/wsAvatar.jpg" alt="">
        </div>
      </div>
    </div>
    <div el-col [span]="6" offset="3">
      <div class="grid-content bg-purple" class="secHeader">
        <div el-row type="flex" class="row-bg" justify="center">
          <div el-col [span]="6">
            <div class="grid-content bg-purple">
              <a routerLink="/home" routerLinkActive="active">主页</a>
            </div>
          </div>
          <div el-col span="6">
            <div class="grid-content bg-purple">
              <a routerLink="/film" routerLinkActive="active">视频</a>
            </div>
          </div>
          <div el-col span="6">
            <div class="grid-content bg-purple">
              <a routerLink="/music" routerLinkActive="active">音乐</a>
            </div>
          </div>
          <div el-col span="6">
            <div class="grid-content bg-purple">
              <a routerLink="/game" routerLinkActive="active">游戏</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div el-col [span]="6" offset=1>
      <div class="grid-content bg-purple" class="secHeader">
        <div class="grid-content bg-purple">
          <el-input placeholder="请输入关键字..." icon="search" size="mini" [model]="input2">
          </el-input>
        </div>
      </div>
    </div>
    <div el-col [span]="2" offset=1>
      <div class="grid-content bg-purple" class="secHeader">
        <el-dropdown [model]="data" (selected)="handle($event)">
          个人信息
        </el-dropdown>
      </div>
    </div>
    <div el-col [span]="2">
      <div class="grid-content bg-purple" class="secHeader">
        <a href=" " target="_blank">GITHUB</a>
      </div>
    </div>
  </div>
</div>